.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  
  .navbar-nav .nav-link .menu-item-text {
    margin-left: 0.5rem;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #f8f9fa;
  }
  
  .navbar-nav .nav-link:hover i {
    color: #007bff;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
  }
  
  @media (max-width: 767.98px) {
    .navbar-nav .nav-link {
      padding: 0.5rem;
    }
    
    .navbar-nav .nav-link i {
      font-size: 1.5rem;
    }
    
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
    }
}
/*Paso 3*/
.carousel-item img {
  height: 400px; /* Ajusta la altura del carrusel según tus necesidades */
  object-fit: cover; /* Ajusta la imagen para que se ajuste a la altura del carrusel */
}
.carousel-caption h5{
  color: white;
  font-weight: bold;
  border-color: black;

}
.carousel-caption p{
  color: white;
  font-weight: bold;
  border-color: black;
}
/*Paso 3*/